
<table class="table table-bordered">

  <tr>
    <th style="text-align:center">Vaccination</th>
    <th style="text-align:center">Clinic</th>
    <th style="text-align:center">Date administered</th>
    <th style="text-align:center">Expiry date</th>
    <th></th>
  </tr>

  <tr style="width: 100%" ng-repeat="history in histories">
    <td>{{history.vaccination.science_name}}</td>
    <td>{{history.clinic_name}}</td>
    <td>{{history.date_given}}</td>
    <td>{{history.expiry_date}}</td>
    <% if current_user %>
      <td><a href='/histories/{{history.id}}/edit'>Edit</a></td>
    <% end %>
  </tr>


 </table>

 <% if current_user %>
   <a href='/histories/new' class="btn btn-primary">Add a vaccination</a>
 <% end %>
