
<table class="table table-striped">
  <col width="500">
  <col width="500">
  <col width="500">
  <col width="500">
  <col width="500">
  <tr>
    <th>Vaccination</th>
    <th>Clinic</th>
    <th>Date administered</th>
    <th>Expiry date</th>
    <th></th>

  </tr>
      <tr style="width: 100%" ng-repeat="history in histories">
        <td>{{history.vaccination.science_name}}</td>
        <td>{{history.clinic_name}}</td>
        <td>{{history.date_given}}</td>
        <td>{{history.expiry_date}}</td>
        <td><a href='/histories/{{history.id}}/edit'>Edit</a></td>
      </tr>


 </table>
 <a href='/histories/new'>Add a vaccination</a>
