<ul ng-repeat="history in histories">
      <li>{{history.vaccination.science_name}} - {{history.vaccination.commercial_name}}</li>
      <ul>
        <li>Clinic name: {{history.clinic_name}}</li>
        <li>Date Administered: {{history.date_given}}</li>
        <li>Expiry Date: {{history.expiry_date}}</li>
        <a href='/histories/{{history.id}}/edit'>Edit vaccination information</a>
      </ul>
</ul>

<table style="width:100%">
      <td>{{history.vaccination.science_name}} - {{history.vaccination.commercial_name}}</td>
        <td>Clinic name: {{history.clinic_name}}</td>
        <td>Date Administered: {{history.date_given}}</td>
        <td>Expiry Date: {{history.expiry_date}}</td>
        <a href='/histories/{{history.id}}/edit'>Edit vaccination information</a>
</table>

 <a href='/histories/new'>Add a vaccination</a>
