// Place all the styles related to the vaccinations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

header[role="banner"] {
   #logo-main {
     display: block;
     margin: 20px auto;
     border-radius: 50%;
   }

 }

body{
  background-image: url("http://i.imgur.com/zx75Jdz.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.card-name{
  color: white;
  text-align: left;
  font-size: 18px;
}

.table {
  background-color: white;
  opacity: 0.7;
  text-align: center;
  font-size: 18px;

}

th {
    background-color: #ff6600;
    color: black;
    white-space: nowrap;
    overflow:hidden;

}

.form-group{
  font-size: 18px;
  color: white;
}

/* User sign in and sign forms. */
.border-form-div {
  max-width: 300px;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.border-form-div .form-signin-heading,
.border-form-div .checkbox {
  margin-bottom: 10px;
}
.border-form-div input[type="text"],
.border-form-div input[type="email"],
.border-form-div input[type="password"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}
